*{
	margin: 10px;
    padding: 10px;
	outline: 0;
}

body {
    background: linear-gradient(rgb(0, 24, 102), rgba(0, 38, 63, 0.651));
    margin: 30px;
}

h1{
	background: linear-gradient(rgb(0, 24, 102), rgba(0, 38, 63, 0.651));
    color:dodgerblue;
    font-family:sans-serif;
    font-size: 35px; 
	text-align: left;
}

article{
	color: azure;
	font-family: sans-serif;
	text-align: justify;
	font-size: 25px;
}

article.a{
	-webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

article.a:hover{
	cursor: pointer;
    transform: scale(1.1,1.1);
}

#header{
	margin: auto;
	width: 500px;
}

.pie{
    clear: both;
    text-align: center;
    background-color: rgba(28, 53, 99, 0.884);
}

.pie h2,h4,h6 {
    color: rgb(134, 203, 212);
}



