html{
	background-image:url(/PracticaExamen/public/vista/images/fondo.jpg)
}

article, h1{
	background-color: gainsboro;
	text-align: center;
}

article{
	font-family:monospace;
	font-size: 25px;
}

section{
	align-content: center;

}
